
    {{> head }}


        {{> navbar }}

        <div class="row">

            <div class="col-8">
                <h1>Capitan America</h1>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti possimus in voluptate! Necessitatibus, quis! Repudiandae consequatur provident dolorem fuga fugit, magnam alias molestias ducimus obcaecati non quibusdam, eius deserunt excepturi!
                </p>
            </div>

            <div class="col-4">
                <img src="assets/img/batman.jpg"class="img-thumbnail">
            </div>

        </div>


    {{> footer}}